.component {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    color: #220C10;
}

.text{
    font-family: 'Maven Pro', sans-serif;
}

.ul {
    flex-grow: 1;
    list-style-type: none;
    margin: 30px 0;
    padding: 0;
}

.counter {
    padding: 3px 6px;
    border: #EA526F 1px solid;
    border-radius: 15px;
    color: #EA526F;
}

.counterComplete {
    padding: 3px 6px;
    border: #77CBB9 1px solid;
    border-radius: 15px;
    background-color: #77CBB9;
    color: white;
}